/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 230), rgb(255, 0, 115),rgb(255, 0, 0));
}
.logo{
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.form{
    max-width: 430px;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #555;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    align-items: center;
    height: 40px;
    width: 48%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field button{
    color: #fff;
    background-color: rgb(50, 50, 229);
    transition: all .3s ease;
    cursor: pointer;
}
.field .signup:hover{
    background-color: rgb(6, 234, 6);
}
.field .clear:hover{
    background-color: rgb(153, 197, 191);
    color: #000;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span, .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
    margin-left: 5px;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.state{
    margin-top: 10px;
    margin-left: 7px;
}
.f-group label{
    display: block;
    margin-bottom: 8px;
    font-family: 'roboto';
    font-weight: 500;
}
.f-group label{
    margin: 5px;
}
select{
    border: 1px solid #555;
    border-radius: 6px;
    height: 30px;
    width: 170px;
    padding: 0 15px;
    margin-right: 20px;
    outline: none;
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width: 25rem;
}

.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}

@media screen and (max-width: 600){
    .form{
        padding: 15px 10px;
    }
}

@media screen and (max-width: 400){
    .form{
        padding: 10px 5px;
    }
}